
{% extends 'base.html' %}
<!--''' this request brings the whole user even if we are just asking for the mail-->
<!--    thats why when we send user as profile, in the html takes just the name'''-->
{% block page_title %}{{user}}'s Profile{% endblock %}

{% block page_heading %}{{user}}'s Profile{% endblock %}

{% block content %}
<div class='jumbotron'>
    <h2>{{ profile.email }}</h2>
    <h2>{{ profile.username }}</h2>
</div>


{% for project in myProjects %}
    {% if request.user == project.author %}
    
        <div class="row">
            <div class="col-md-2 col-sm-3 text-center">
                <!--<a class="story-img" href="#">-->
                <!--    <img src="/media/img/profile.jpg" class="img-circle">-->
                <!--</a>-->
                <p><span class="boldtext">Author:</span> {{ project.author }}</p>
            </div>
            <div class="col-md-10 col-sm-9">
                <div class="row">
                    <div class="col-xs-9">
                        <p><span class="boldtext">Title: </span>{{ project.title }}</p>
                        <p><span class="boldtext">Language: </span>{{ project.language }}</p>
                        <p><span class="boldtext">Description: </span>{{ project.description }}</p>
                        <p><span class="boldtext">Published on: </span> {{ project.published_date }} </p>
                        <p><span class="boldtext">Views: </span> {{project.views}}</p>
                        <p><span class="boldtext">Tag: </span> {{ project.repository }}</p>
                    </div>
                </div>
                
                <a class="btn btn-primary" href="{% url 'edit_project' project.id %}" role="button">Edit</a>
                <button type="button" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-primary">Add Services</button>
                
            </div>
            <hr>
        </div>
        {% endif %}
    {% endfor %}
{% endblock %}